html *{
    font-family: outfit;
}

h1{
    color: tomato;
}

@font-face {
    font-family: outfit;
    src: url("Outfit-Medium.ttf");
}

img {
  width: 100%;
  height: auto;
}

.main_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.mb-3{
    width: 50%;
}

#texto{
    width: 50%;
}